@import "tailwindcss";
@import "./styles/color.css";
@import "./styles/typography.css";
@import "./styles/spacing.css";
@import "./styles/components.css";

body {
  background: var(--gray-00);
  color: var(--gray-03);
  font-family: var(--font-pretendard);
}
